<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
        id: getObject方法返回的对象的标识
                工厂Bean的标识: &id
        class: factoryBean标准化工厂类
    -->
    <bean id="javaBean" class="com.wang.ioc_05.JavaBeanFactoryBean">
        <property name="name" value="zhangsan"/>
        <property name="age" value="18"/>
    </bean>
</beans>